<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
            <transition-group name="list">
                <div class="favorite" v-bind:class="{ 'favorite--selected': checkFavorite(favorite.login) }"
                    v-for="favorite in allFavorites" v-bind:key="favorite.id">
                    <a v-on:click.prevent="clickFavorite(favorite)" href="#" class="favorite__avatar">
                        <img v-bind:src="favorite.avatar_url" v-bind:alt="favorite.name" class="favorite__avatar">
                    </a>
                </div>
            </transition-group>
        </div>


        <!-- Content -->
        <article class="content">
            <h1 class="content__title">Busqueda usuarios de GitHub</h1>

            <!-- Search -->
            <form class="search" v-on:submit.prevent="doSearch">
                <input v-model="search" type="text" class="search__input" required
                    placeholder="Buscar usuarios de GitHub">
                <input type="submit" class="search__submit" value="Search">
            </form>

            <!-- Result -->
            <Transition>
                <app-profile v-if="result" v-bind:result="result" v-bind:is-favorite="isFavorite" v-on:add-favorite="addFavorite" v-on:remove-favorite="removeFavorite" />
                <!-- <div v-else>
                    <p>Ingrese nombre del usuario a buscar...</p>
                </div> -->
            </Transition>
            <!-- Error -->
            <div class="result__error" v-if="error">{{error}}</div>
        </article>
    </div>

    <script src="js/main.js"></script>
    <script src="js/components/appProfile.js"></script>
    <script>const mountedApp = app.mount("#app")</script>
</body>

</html>